body {
    margin: 0;
    padding: 0;
    background-color: #071134;
    border: 20px solid lightgray;
    font-family: 'Josefin Sans', sans-serif;   
}

#game-screen {
    display: block;
}

#gameOver, #playHUD {
    position: absolute;
    visibility: hidden;
}

#start {
    position: absolute;
}

h1, #scoreboard, h3 {
    font-family: 'Josefin Sans', sans-serif;
    color: lightgray;
    text-align: center;
}

#playButton, #playButtons, #playButtonf {
    display: block;
    margin: 4px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.title {
    font-size: 40px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#trump {
    display: none;
}

#restartButton, #menuButton {
    border: 1px solid lightgray;
}

#restartButton:hover, #menuButton:hover {
    background-color: floralwhite;
    color: gray;
    border: 1px solid floralwhite;
}

#scoreboard {
    margin: 0;
}

#playButton, #playButtons, #playButtonf, #hi {
    border: 1px solid lightgray;
}

#playButtonf:hover {
    background-color: black;
    color: lightgray;
    border: 1px solid black;
}

#playButton:hover {
    background-color: chartreuse;
    color: black;
    border: 1px solid chartreuse;
    cursor: default;
}

#playButtons:hover {
    background-color: indigo;
    color: lightgray;
    border: 1px solid indigo;
}

.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: white;
        color: black;
        font-weight: 600;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #071134; 
}

#hi {
    text-align: center;
}

#h2 {
    text-align: center;
}

#hi:hover {
    background-color: floralwhite;
    color: black;
    border: 1px solid floralwhite;
}

#la {
    text-decoration: none;
    color: lightgray;
    font-weight: 600
}

#la:hover {
    cursor: default;
    color: black;
}